{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"id-length": 0,
		"new-cap": [2, {
			"capIsNewExceptions": ["IsIntegralNumber"]
		}]
	},

	"overrides": [
		{
			"files": "**/*.mjs",
			"rules": {
				"no-restricted-exports": 0,
			},
		},
	],
}
